.scrollTop {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 10%;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.9;
  color: var(--primary-color);
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.scroll-arrow {
  display: flex;
  justify-content: flex-end;
}
